@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #475569;
    @screen lg {
      font-size: 16px;
    }
  }
}

@layer components {
  .button-main {
    @apply px-4 rounded-md py-3 bg-blue-300 text-white font-medium hover:text-slate-500;
  }
  .button-card {
    @apply border border-blue-300 text-blue-300 rounded-md p-1 text-sm hover:bg-blue-300 hover:text-white hover:border-blue-300;
  }
  .button-card-confirm {
    @apply bg-slate-400 text-white rounded-md p-1 text-sm hover:opacity-75;
  }
}

[id^="checkbox-"]:checked + label {
  background-color: #bfdbfe;
}

[id^="checkbox-"]:checked + label::before {
  transform: translateX(13px);
}
